header, footer {
    background-color: #B0E0EA;
    color: #363d4d;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
}
.section-title {
    margin-top: 30px;
}

.details-p {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f9fa;
}

.summary-p {
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    list-style: none;
    color: #4F6185;
    margin-bottom: 10px;
}
